.shop-container{
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 25px;
}
.products-container{
  width: 94%;
  margin: 0 auto;
}
.products-child-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-top: 50px;
}
.cart-container{
  background-color: #ff99004d;
}